@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.swiper-pagination {
  position: absolute !important;
  bottom: 10px !important; /* Adjust number to control distance */
  z: 10 !important;
}

.swiper-pagination-bullet {
  background-color: black !important;  /* Inactive dots */
  opacity: 0.6 !important;
  width: 8px !important;
  height:8px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: white !important; /* Active dot */
  opacity: 1 !important;
  width: 10px !important;
  height:10px !important;
  transform: scale(1.2);
}


/* Remove default icons */
.gallery-button-next::after,
.gallery-button-prev::after {
  display: none !important;
}

/* Custom navigation arrows */
.gallery-button-next,
.gallery-button-prev {
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto !important;
}








:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@tailwind base; @tailwind components; @tailwind utilities;





