@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.swiper-pagination {
  position: absolute !important;
  bottom: 10px !important; /* Adjust number to control distance */
  z: 10 !important;
}

.swiper-pagination-bullet {
  background-color: black !important;  /* Inactive dots */
  opacity: 0.6 !important;
  width: 10px !important;
  height:10px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: white !important; /* Active dot */
  opacity: 1 !important;
  width: 12px !important;
  height:12px !important;
  transform: scale(1.2);
}

.swiper-button-next,
.swiper-button-prev {
  @apply bg-white text-black rounded-full shadow-lg w-12 h-12 flex items-center justify-center transition hover:bg-white hover:scale-110;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important; /* Icon size */
  font-weight: bold;
}

.swiper-button-next::after {
  content: '➤' !important;
}

.swiper-button-prev::after {
  content: '◀' !important;
}

.swiper-button-next {
  right: -30px !important;
}

.swiper-button-prev {
  left: -30px !important;
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@tailwind base; @tailwind components; @tailwind utilities;





